<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uet.k57ca.libview" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/MyMaterialTheme"
        android:logo="@drawable/logo">

        <activity
            android:name=".MainActivity"
            android:label=""
            android:logo="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchActivity"
                  android:parentActivityName=".MainActivity"
                  android:label=""
                  android:logo="@drawable/logo">
        </activity>

        <activity android:name=".BookDetailActivity"
                  android:parentActivityName=".MainActivity"
                  android:label=""
                  android:logo="@drawable/logo">
        </activity>
    </application>

</manifest>
